
  body{
    margin: 0;
    font-family: 'Palatino', 'sans-serif';
    background-color: #F1F0EA;
  }

/*header*/

   /* Styles for the header and search bar */
  
   
   .header {
    background-color: #4056A1;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
a{text-decoration: none;}

  .search-container {
   display: flex;
   align-items: center;
  }

  .search-input {
    width: 300px;
    padding: 17px;
    border: none;
    border-radius: 5px;
    }

    .search-button {
      /* width:50px; */
      height:50px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      margin-left: 10px;
      cursor: pointer;
    }

.logo{
  display: flex;
  padding-left: 20px;
  line-height: 20px;
}

.logo .h1{
 font-family:'Ingrid Darling';
 color: #ffffff;
 display: block;
 float: left;
 font-size: 3em;
 text-decoration: none;
}

p{
  font-family: 'Palatino', 'sans-serif';
  color: #F1F0EA;
  font-size: 1em;
}
/*.logo img{
  display: flex;
  width: 15%;
}

  /*.logo img {
    width: 10%;
    margin: 0 0 0 15px;
    float: left;
  }*/

.icon{
  width: 100px;
  height:100px;
  margin-left: 10px;
}
  
h1{
    font-family: 'Ingrid Darling';font-size: 50px;
    font-weight: 200;
    color: aliceblue;
}

.filters{
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}
button {
  border: none;
  background-color:#5F0B03;
  color:#F1F0EA;
  gap: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.2s;
}

button:hover{
  background-color:#F13C20;
  transition-duration: 0.2s;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 900px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom:20px;
}

.header-container {
    grid-column:1 / 4;
    grid-row: 1;
    background-color:#D79922 ;
   text-align: center;
   line-height: 15px;
   margin-bottom: 10px;
  }

  .header-container h2{
   color:aliceblue;
   font-size: 20px ;
   font-family: 'Palatino', sans-serif;
   font-weight:50;
  }

.recepie {
    height: auto;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

figcaption {

    font-family: 'Palatino', sans-serif;
    margin: 5px 0;
    line-height: 22px;
}

/*Recepie Page*/
.hero-container{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 10px;
width: 1000px;
margin: 0 auto;
padding-top: 2rem;
padding-bottom:20px;
}

.hero-container p{
  color: #000;
  line-height: 20px;
}

.ingredients li{
  list-style: none;
  line-height: 30px;
}
.Instructions-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 1000px;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom:20px; 
}

.Instructions-container p{
  color: #000;
  line-height: 20px;
}

.step{
  padding: 15px;
  border-style: solid;
  color: #000;
  border-width: 1px;
}
/*footer*/

footer{
  position:flex;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height:auto;
  width: 100vw;
  padding-top: 20px;
  color: #fff;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width:100vw;
}

.footer-content h1{
  font-size: 3rem;
  font-weight: 300;
  line-height: 1rem;  
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #d4d4d4;
}


.footer-bottom{
  background: #000;
  width: 100vw;
  /* padding: 20px; */
  padding-bottom: 40px;
  text-align: center;
}

.footer-bottom p{
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
 color:#44bae8;
 font-size: 16px;
 text-decoration: none;
}

@media only screen and (max-width: 1440px){
 h1{
    font-size: 40px;
 } 
 nav a{
    font-size: 16px ;
 }  

 .grid-container{
    width: 700px;
 }
 .hero-container{
  width: 700px;
 }
 .Instructions-container{
  width:700px;
 }
}


@media only screen and (max-width: 750px){
    h1{
       font-size: 40px;
    } 
    nav a{
       font-size: 16px ;
    }  

    .grid-container{
       width: 600px;
    }
    .hero-container{
      width: 600px;
     }
     .Instructions-container{
      width:600px;
     }

   }

   @media only screen and (max-width: 630px){
    h1{
       font-size: 40px;
    } 
    nav a{
       font-size: 16px ;
    }  
   body{
    text-align: center; 
    justify-content: center;
    margin-top: 10px;
    margin: auto;

}
   .grid-container {
    display:inline-block;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 400px;
    }

    .hero-container{
      display:inline-block;
   align-items:center; 
    margin: auto;
    width: 400px;
     }
     .Instructions-container{
      display:inline-block;
    align-items:center; 
    margin:auto;
    width: 400px;
     }
   }

  /*Recepie Page*/



   @media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: center;
    }

    .logo {
      margin-bottom: 10px;
    }

    .search-container {
      width: 100%;
      max-width: 300px;

    }
  }

   @media only screen and (max-width: 410px){
.grid-container{
    width: 300px;
    }
    .hero-container{
      width: 300px;
    }
    .Instructions-container{
      width: 300px;
    }
   }
   